@font-face {
  font-family: "Brown";
  src: url("../fonts//brown-light-webfont.woff2") format("woff2"), url("../fonts//brown-light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts//brown-light-italic-webfont.woff2") format("woff2"), url("../fonts//brown-light-italic-webfont.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts//brown-thin-webfont.woff2") format("woff2"), url("../fonts//brown-thin-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts//brown-thin-italic-webfont.woff2") format("woff2"), url("../fonts//brown-thin-italic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts//brown-regular-webfont.woff2") format("woff2"), url("../fonts//brown-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts//brown-regular-italic-webfont.woff2") format("woff2"), url("../fonts//brown-regular-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts//brown-bold-webfont.woff2") format("woff2"), url("../fonts//brown-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts//brown-bold-italic-webfont.woff2") format("woff2"), url("../fonts//brown-bold-italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  align-items: center;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.header1 {
  font-size: 1rem;
}

.header2,
header .breadcrumbs li {
  font-size: 1.5rem;
}

.header3 {
  font-size: 1.8rem;
}

.header4 {
  font-size: 2rem;
}

.header5 {
  font-size: 2.2rem;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  background-color: #1D2033;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-family: "Brown", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: #1e64ff;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Brown", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

tile {
  position: relative;
  display: flex;
  background-color: #303243;
  border-radius: 8px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.24);
}

tile-grid {
  margin-bottom: 24px;
}

tile:before {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  padding-top: 100%;
}

tile:after {
  content: "1:1";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

tile-grid {
  margin-top: 48px;
}

tile-grid+tile-grid {
  margin-top: 80px;
}

/************* BREAKPOINT: HANDHELD_SMALL - 12 COLUMN *************/

tile-grid.grid-12col {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  min-width: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100vh;
  grid-gap: 24px 24px;
}

tile-grid.grid-12col tile:after {
  content: "1";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

tile.hide4,
tile.hide8 {
  display: grid;
}

/************* BREAKPOINT: HANDHELD_MEDIUM - 12 COLUMN *************/

@media screen and (min-width: 680px) {
  tile-grid.grid-12col {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100vh;
    grid-gap: 16px 16px;
  }
  tile.hide4,
  tile.hide8 {
    display: none;
  }
}

/************* BREAKPOINT: HANDHELD_LARGE - 12 COLUMN *************/

@media screen and (min-width: 680px) {
  tile-grid.grid-12col {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100vh;
    grid-gap: 16px 16px;
  }
  tile.hide4,
  tile.hide8 {
    display: none;
  }
}

/************* BREAKPOINT: HANDHELD_XLARGE - 12 COLUMN *************/

@media screen and (min-width: 920px) {
  tile-grid.grid-12col {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100vh;
    grid-gap: 16px 16px;
  }
  tile.hide4 {
    display: none;
  }
  tile.hide8 {
    display: grid;
  }
}

/************* BREAKPOINT: CLOSE_RANGE_SMALL - 12 COLUMN *************/

@media screen and (min-width: 11120px) {
  tile-grid.grid-12col {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100vh;
    grid-gap: 16px 16px;
  }
  tile.hide4 {
    display: none;
  }
  tile.hide8 {
    display: grid;
  }
}

/************* BREAKPOINT: CLOSE_RANGE_MEDIUM - 12 COLUMN *************/
@media screen and (min-width: 1320px) {
  tile-grid.grid-12col {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100vh;
    grid-gap: 24px 24px;
  }
  tile.hide4 {
    display: none;
  }
  tile.hide8 {
    display: grid;
  }
}

/************* BREAKPOINT: CLOSE_RANGE_LARGE - 12 COLUMN *************/
@media screen and (min-width: 1520px) {
  tile-grid.grid-12col {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh;
    grid-gap: 24px 24px;
  }
  tile.hide4,
  tile.hide8 {
    display: grid;
  }
}

/************* BREAKPOINT: CLOSE_RANGE_X-LARGE - 12 COLUMN *************/
@media screen and (min-width: 1720px) {
  tile-grid.grid-12col {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh;
    grid-gap: 24px 24px;
  }
  tile.hide4,
  tile.hide8 {
    display: grid;
  }
}

/************* BREAKPOINT: FAR_RANGE - 12 COLUMN *************/
@media screen and (min-width: 1920px) {
  tile-grid.grid-12col {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh;
    grid-gap: 24px 24px;
  }
  tile.hide4,
  tile.hide8 {
    display: grid;
  }
}


/************* APP *************/
app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: 96px auto 96px;
  grid-template-rows: 100% auto;
  grid-template-areas:  "nav" "header" "social"
                        "nav" "main" "social"
}

/************* SOCIAL *************/
social {
  display: block;
  position: absolute;
  top: 32px;
  right: 24px;
  grid-area: social;
}

@media only screen and (min-width: 1120px) {
  social {
    display: block;
    position: fixed;
    width: 96px;
    height: 100vh;
    background-color: aquamarine;
    bottom: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding-top: 32px;
  }
}

/************* HEADER *************/

header {
  height: 48px;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

header .breadcrumbs li+li:before {
  content: "/";
  opacity: 0.4;
  padding: 0 8px;
}

/************* NAVIGATION *************/

nav.desktop-nav {
  position: fixed;
  grid-area: nav;
  display: flex;
  background-color: aquamarine;
  left: 0;
  top: 0;
  align-items: flex-start;
  justify-content: center;
  width: 96px;
  height: 100vh;
  padding-top: 32px;
}

@media only screen and (max-width: 1120px) {
  nav.desktop-nav {
    display: none;
  }
}

nav.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1120px) {
  nav.mobile-nav {
    width: 100%;
    height: 64px;
    background-color: aquamarine;
    top: 32px;
    left: 24px;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

nav.mobile-nav img {
  align-self: flex-start;
  justify-content: end;
  height: 48px;
}

/* MAIN */

main {
  margin: 0 auto;
  grid-area: main;
}

@media screen and (min-width: 416px) {
  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 348px;
    flex: 0 0 348px;
  }
}

@media screen and (min-width: 680px) {
  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 648px;
    flex: 0 0 648px;
  }
}

@media screen and (min-width: 920px) {
  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 872px;
    flex: 0 0 872px;
  }
}

@media screen and (min-width: 1120px) {
  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1072px;
    flex: 0 0 1072px;
  }
}

@media screen and (min-width: 1320px) {
  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1128px;
    flex: 0 0 1128px;
  }
}

@media screen and (min-width: 1520px) {
  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1328px;
    flex: 0 0 1328px;
  }
}

@media screen and (min-width: 1720px) {
  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1432px;
    flex: 0 0 1432px;
  }
}

@media screen and (min-width: 1920px) {
  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1632px;
    flex: 0 0 1632px;
  }
}
