:root {

    /******************************** Color Options HEX ********************************/
    
    --color-button-ghost: rgba(23, 26, 41, 0.6);
    --color-button-hollow: rgba(23, 26, 41, 0.8);
    --color-button-solid: rgb(39, 106, 252);
    --color-button-rgb-ghost: 23, 26, 41;
    --color-button-rgb-hollow: 23, 26, 41;
    --color-button-rgb-solid: 39, 106, 252;

    --color-alternate-primary: rgb(131, 104, 253);
    --color-alternate-secondary: rgb(255, 109, 77);
    --color-alternate-tertiary: rgb(112, 252, 255);

    --color-alternate-rgb-primary: 131, 104, 253;
    --color-alternate-rgb-secondary: 255, 109, 77;
    --color-alternate-rgb-tertiary: 112, 252, 255;

    --color-alternate-primary-0: rgb(193, 180, 254);
    --color-alternate-primary-100: rgb(181, 164, 254);
    --color-alternate-primary-1000: rgb(66, 52, 127);
    --color-alternate-primary-200: rgb(168, 149, 254);
    --color-alternate-primary-300: rgb(156, 134, 253);
    --color-alternate-primary-400: rgb(143, 119, 253);
    --color-alternate-primary-500: rgb(131, 104, 253);
    --color-alternate-primary-600: rgb(118, 94, 228);
    --color-alternate-primary-700: rgb(105, 83, 202);
    --color-alternate-primary-800: rgb(92, 73, 177);
    --color-alternate-primary-900: rgb(79, 62, 152);

    --color-alternate-primary-rgb-0: 193, 180, 254;
    --color-alternate-primary-rgb-100: 181, 164, 254;
    --color-alternate-primary-rgb-1000: 66, 52, 127;
    --color-alternate-primary-rgb-200: 168, 149, 254;
    --color-alternate-primary-rgb-300: 156, 134, 253;
    --color-alternate-primary-rgb-400: 143, 119, 253;
    --color-alternate-primary-rgb-500: 131, 104, 253;
    --color-alternate-primary-rgb-600: 118, 94, 228;
    --color-alternate-primary-rgb-700: 105, 83, 202;
    --color-alternate-primary-rgb-800: 92, 73, 177;
    --color-alternate-primary-rgb-900: 79, 62, 152;

    --color-alternate-secondary-0: rgb(255, 182, 166);
    --color-alternate-secondary-100: rgb(255, 167, 148);
    --color-alternate-secondary-1000: rgb(128, 55, 39);
    --color-alternate-secondary-200: rgb(255, 153, 130);
    --color-alternate-secondary-300: rgb(255, 138, 113);
    --color-alternate-secondary-400: rgb(255, 124, 95);
    --color-alternate-secondary-500: rgb(255, 109, 77);
    --color-alternate-secondary-600: rgb(230, 98, 69);
    --color-alternate-secondary-700: rgb(204, 87, 62);
    --color-alternate-secondary-800: rgb(179, 76, 54);
    --color-alternate-secondary-900: rgb(153, 65, 46);

    --color-alternate-secondary-rgb-0: 255, 182, 166;
    --color-alternate-secondary-rgb-100: 255, 167, 148;
    --color-alternate-secondary-rgb-1000: 128, 55, 39;
    --color-alternate-secondary-rgb-200: 255, 153, 130;
    --color-alternate-secondary-rgb-300: 255, 138, 113;
    --color-alternate-secondary-rgb-400: 255, 124, 95;
    --color-alternate-secondary-rgb-500: 255, 109, 77;
    --color-alternate-secondary-rgb-600: 230, 98, 69;
    --color-alternate-secondary-rgb-700: 204, 87, 62;
    --color-alternate-secondary-rgb-800: 179, 76, 54;
    --color-alternate-secondary-rgb-900: 153, 65, 46;

    --color-alternate-tertiary-0: rgb(184, 254, 255);
    --color-alternate-tertiary-100: rgb(169, 253, 255);
    --color-alternate-tertiary-1000: rgb(56, 126, 128);
    --color-alternate-tertiary-200: rgb(155, 253, 255);
    --color-alternate-tertiary-300: rgb(141, 253, 255);
    --color-alternate-tertiary-400: rgb(126, 252, 255);
    --color-alternate-tertiary-500: rgb(112, 252, 255);
    --color-alternate-tertiary-600: rgb(101, 227, 230);
    --color-alternate-tertiary-700: rgb(90, 202, 204);
    --color-alternate-tertiary-800: rgb(78, 176, 179);
    --color-alternate-tertiary-900: rgb(67, 151, 153);

    --color-alternate-tertiary-rgb-0: 184, 254, 255;
    --color-alternate-tertiary-rgb-100: 169, 253, 255;
    --color-alternate-tertiary-rgb-1000: 56, 126, 128;
    --color-alternate-tertiary-rgb-200: 155, 253, 255;
    --color-alternate-tertiary-rgb-300: 141, 253, 255;
    --color-alternate-tertiary-rgb-400: 126, 252, 255;
    --color-alternate-tertiary-rgb-500: 112, 252, 255;
    --color-alternate-tertiary-rgb-600: 101, 227, 230;
    --color-alternate-tertiary-rgb-700: 90, 202, 204;
    --color-alternate-tertiary-rgb-800: 78, 176, 179;
    --color-alternate-tertiary-rgb-900: 67, 151, 153;

    --color-brand-primary: rgb(39, 106, 252);
    --color-brand-secondary: rgb(255, 0, 82);
    --color-brand-tertiary: rgb(51, 255, 157);

    --color-brand-rgb-primary: 39, 106, 252;
    --color-brand-rgb-secondary: 255, 0, 82;
    --color-brand-rgb-tertiary: 51, 255, 157;
    
    --color-brand-primary-0: rgb(147, 181, 254);
    --color-brand-primary-100: rgb(125, 166, 253);
    --color-brand-primary-1000: rgb(20, 53, 126);
    --color-brand-primary-200: rgb(104, 151, 253);
    --color-brand-primary-300: rgb(82, 136, 253);
    --color-brand-primary-400: rgb(61, 121, 252);
    --color-brand-primary-500: rgb(39, 106, 252);
    --color-brand-primary-600: rgb(35, 95, 227);
    --color-brand-primary-700: rgb(31, 85, 202);
    --color-brand-primary-800: rgb(27, 74, 176);
    --color-brand-primary-900: rgb(23, 64, 151);

    --color-brand-primary-rgb-0: 147, 181, 254;
    --color-brand-primary-rgb-100: 125, 166, 253;
    --color-brand-primary-rgb-1000: 20, 53, 126;
    --color-brand-primary-rgb-200: 104, 151, 253;
    --color-brand-primary-rgb-300: 82, 136, 253;
    --color-brand-primary-rgb-400: 61, 121, 252;
    --color-brand-primary-rgb-500: 39, 106, 252;
    --color-brand-primary-rgb-600: 35, 95, 227;
    --color-brand-primary-rgb-700: 31, 85, 202;
    --color-brand-primary-rgb-800: 27, 74, 176;
    --color-brand-primary-rgb-900: 23, 64, 151;

    --color-brand-secondary-0: rgb(255, 128, 169);
    --color-brand-secondary-100: rgb(255, 102, 151);
    --color-brand-secondary-1000: rgb(128, 0, 41);
    --color-brand-secondary-200: rgb(255, 77, 134);
    --color-brand-secondary-300: rgb(255, 51, 117);
    --color-brand-secondary-400: rgb(255, 26, 99);
    --color-brand-secondary-500: rgb(255, 0, 82);
    --color-brand-secondary-600: rgb(230, 0, 74);
    --color-brand-secondary-700: rgb(204, 0, 66);
    --color-brand-secondary-800: rgb(179, 0, 57);
    --color-brand-secondary-900: rgb(153, 0, 49);

    --color-brand-secondary-rgb-0: 255, 128, 169;
    --color-brand-secondary-rgb-100: 255, 102, 151;
    --color-brand-secondary-rgb-1000: 128, 0, 41;
    --color-brand-secondary-rgb-200: 255, 77, 134;
    --color-brand-secondary-rgb-300: 255, 51, 117;
    --color-brand-secondary-rgb-400: 255, 26, 99;
    --color-brand-secondary-rgb-500: 255, 0, 82;
    --color-brand-secondary-rgb-600: 230, 0, 74;
    --color-brand-secondary-rgb-700: 204, 0, 66;
    --color-brand-secondary-rgb-800: 179, 0, 57;
    --color-brand-secondary-rgb-900: 153, 0, 49;

    --color-brand-tertiary-0: rgb(153, 255, 206);
    --color-brand-tertiary-100: rgb(133, 255, 196);
    --color-brand-tertiary-1000: rgb(26, 128, 79);
    --color-brand-tertiary-200: rgb(112, 255, 186);
    --color-brand-tertiary-300: rgb(92, 255, 177);
    --color-brand-tertiary-400: rgb(71, 255, 167);
    --color-brand-tertiary-500: rgb(51, 255, 157);
    --color-brand-tertiary-600: rgb(46, 230, 141);
    --color-brand-tertiary-700: rgb(41, 204, 126);
    --color-brand-tertiary-800: rgb(36, 179, 110);
    --color-brand-tertiary-900: rgb(31, 153, 94);

    --color-brand-tertiary-rgb-0: 153, 255, 206;
    --color-brand-tertiary-rgb-100: 133, 255, 196;
    --color-brand-tertiary-rgb-1000: 26, 128, 79;
    --color-brand-tertiary-rgb-200: 112, 255, 186;
    --color-brand-tertiary-rgb-300: 92, 255, 177;
    --color-brand-tertiary-rgb-400: 71, 255, 167;
    --color-brand-tertiary-rgb-500: 51, 255, 157;
    --color-brand-tertiary-rgb-600: 46, 230, 141;
    --color-brand-tertiary-rgb-700: 41, 204, 126;
    --color-brand-tertiary-rgb-800: 36, 179, 110;
    --color-brand-tertiary-rgb-900: 31, 153, 94;

    --color-neutral-0: rgb(255, 255, 255);
    --color-neutral-100: rgb(213, 208, 211);
    --color-neutral-200: rgb(144, 142, 151);
    --color-neutral-300: rgb(98, 98, 111);
    --color-neutral-400: rgb(52, 54, 71);
    --color-neutral-500: rgb(29, 32, 51);
    --color-neutral-600: rgb(26, 29, 46);
    --color-neutral-700: rgb(23, 26, 41);
    --color-neutral-800: rgb(20, 23, 36);
    --color-neutral-900: rgb(11, 14, 21);
    --color-neutral-1000: rgb(0, 0, 0);

    --color-neutral-rgb-0: 255, 255, 255;
    --color-neutral-rgb-100: 213, 208, 211;
    --color-neutral-rgb-200: 144, 142, 151;
    --color-neutral-rgb-300: 98, 98, 111;
    --color-neutral-rgb-400: 52, 54, 71;
    --color-neutral-rgb-500: 29, 32, 51;
    --color-neutral-rgb-600: 26, 29, 46;
    --color-neutral-rgb-700: 23, 26, 41;
    --color-neutral-rgb-800: 20, 23, 36;
    --color-neutral-rgb-900: 11, 14, 21;
    --color-neutral-rgb-1000: 0, 0, 0;

    --color-system-error: rgb(249, 71, 71);
    --color-system-success: rgb(0, 255, 132);
    --color-system-warning: rgb(255, 230, 107);

    --color-system-rgb-error: 249, 71, 71;
    --color-system-rgb-success: 0, 255, 132;
    --color-system-rgb-warning: 255, 230, 107;

    --color-system-error-0: rgb(252, 163, 163);
    --color-system-error-100: rgb(251, 145, 145);
    --color-system-error-1000: rgb(125, 36, 36);
    --color-system-error-200: rgb(251, 126, 126);
    --color-system-error-300: rgb(250, 108, 108);
    --color-system-error-400: rgb(250, 89, 89);
    --color-system-error-500: rgb(249, 71, 71);
    --color-system-error-600: rgb(224, 64, 64);
    --color-system-error-700: rgb(199, 57, 57);
    --color-system-error-800: rgb(174, 50, 50);
    --color-system-error-900: rgb(149, 43, 43);

    --color-system-error-rgb-0: 252, 163, 163;
    --color-system-error-rgb-100: 251, 145, 145;
    --color-system-error-rgb-1000: 125, 36, 36;
    --color-system-error-rgb-200: 251, 126, 126;
    --color-system-error-rgb-300: 250, 108, 108;
    --color-system-error-rgb-400: 250, 89, 89;
    --color-system-error-rgb-500: 249, 71, 71;
    --color-system-error-rgb-600: 224, 64, 64;
    --color-system-error-rgb-700: 199, 57, 57;
    --color-system-error-rgb-800: 174, 50, 50;
    --color-system-error-rgb-900: 149, 43, 43;

    --color-system-success-0: rgb(128, 255, 194);
    --color-system-success-100: rgb(102, 255, 181);
    --color-system-success-1000: rgb(0, 128, 66);
    --color-system-success-200: rgb(77, 255, 169);
    --color-system-success-300: rgb(51, 255, 157);
    --color-system-success-400: rgb(26, 255, 144);
    --color-system-success-500: rgb(0, 255, 132);
    --color-system-success-600: rgb(0, 230, 119);
    --color-system-success-700: rgb(0, 204, 106);
    --color-system-success-800: rgb(0, 179, 92);
    --color-system-success-900: rgb(0, 153, 79);

    --color-system-success-rgb-0: 128, 255, 194;
    --color-system-success-rgb-100: 102, 255, 181;
    --color-system-success-rgb-1000: 0, 128, 66;
    --color-system-success-rgb-200: 77, 255, 169;
    --color-system-success-rgb-300: 51, 255, 157;
    --color-system-success-rgb-400: 26, 255, 144;
    --color-system-success-rgb-500: 0, 255, 132;
    --color-system-success-rgb-600: 0, 230, 119;
    --color-system-success-rgb-700: 0, 204, 106;
    --color-system-success-rgb-800: 0, 179, 92;
    --color-system-success-rgb-900: 0, 153, 79;

    --color-system-warning-0: rgb(255, 243, 181);
    --color-system-warning-100: rgb(255, 240, 166);
    --color-system-warning-1000: rgb(128, 115, 54);
    --color-system-warning-200: rgb(255, 238, 151);
    --color-system-warning-300: rgb(255, 235, 137);
    --color-system-warning-400: rgb(255, 233, 122);
    --color-system-warning-500: rgb(255, 230, 107);
    --color-system-warning-600: rgb(230, 207, 96);
    --color-system-warning-700: rgb(204, 184, 86);
    --color-system-warning-800: rgb(179, 161, 75);
    --color-system-warning-900: rgb(153, 138, 64);

    --color-system-warning-rgb-0: 255, 243, 181;
    --color-system-warning-rgb-100: 255, 240, 166;
    --color-system-warning-rgb-1000: 128, 115, 54;
    --color-system-warning-rgb-200: 255, 238, 151;
    --color-system-warning-rgb-300: 255, 235, 137;
    --color-system-warning-rgb-400: 255, 233, 122;
    --color-system-warning-rgb-500: 255, 230, 107;
    --color-system-warning-rgb-600: 230, 207, 96;
    --color-system-warning-rgb-700: 204, 184, 86;
    --color-system-warning-rgb-800: 179, 161, 75;
    --color-system-warning-rgb-900: 153, 138, 64;
    
    --color-gradient-primary: linear-gradient(-45deg, rgb(39, 106, 252), rgb(131, 104, 253));
    --color-gradient-secondary: linear-gradient(-45deg, rgb(255, 0, 82), rgb(255, 109, 77));
    --color-gradient-tertiary: linear-gradient(-45deg, rgb(51, 255, 157), rgb(112, 252, 255));
    
    }
    